In [ ]:
"""
開啟一個rds-example.ipynb，
並嘗試使用PyMySQL套件連結至mysql進行創建資料庫，資料表，插入資料，查詢資料
"""

#導入套件
import pymysql

#與db建立連線
#可縮寫db = pymysql.connect("localhost","root","root","30days" )
db = pymysql.connect(host='mysql_test', port=3306, user='root', passwd='cc10423', charset='utf8')

#建立操作游標
cursor = db.cursor()

#創建資料庫
#cursor.execute( "CREATE database test2323" )
cursor.execute( "use test2323" )

#使用預處理语句創建表
#NOT NULL不接受 NULL值
sql = """CREATE TABLE JOJOLEE (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,  
   SEX CHAR(1),
   INCOME FLOAT )"""

#插入資料
sql = """INSERT INTO JOJOLEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""

#執行SQL語句
cursor.execute(sql)

try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()
    
#查詢資料
cursor.execute( "SELECT FIRST_NAME FROM JOJOLEE")

#關閉資料庫連線
db.close()